/* ここからCSS */
body{
padding-top: 50px;
padding-bottom: 50px;

}
h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 1;
}
h1 span{
    font-size: 15px;
}
.globalnavi{
    text-align: center;
    margin-bottom:50px ;
    
}
.globalnavi li{
    font-family: 'Oswalborderd', sans-serif;
    display: inline-block;
    margin-right: 40px;
    font-size: 16px;
    letter-spacing: 1px;
} 
.globalnavi li:last-child{
    margin-right:0 ;
}
.mainimage {
    width: 1000px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px ;
}
.mainimage img{
    width: 100%;
    height: auto;
}
.aboutsection,
.newssection {
    width: 1000px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 50px;
}
.hstyle{
    font-family: 'Oswalborderd', sans-serif;
    font-size:11px;
    text-align: center;
    margin-bottom: 50px;
    margin-bottom: 40px;
    line-height: 1.2;
}
.hstyle span{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    border-bottom: 2px solid #000000 ;

}
.aboutsection ul{
    overflow: hidden;
    padding: 0;
}
.aboutsection li{
    float: left;
    list-style: none;
    width: 32%;
    margin-right: 2%;
    
}
.aboutsection li:last-child{
    margin-right: 0;
}

.aboutsection li img{
    height: auto;
    width: 100%;
    height: auto;
}
.aboutsection h3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 0;
    letter-spacing: 1;
}
.aboutsection p{
    font-size: 14px;
    margin: 0;
    letter-spacing: 1;
}
.newssection table{
    width: 100%;
    border-top: 1px solid#dddddd;
}

.newssection th{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 14px;
    border-bottom:1px solid #dddddd ;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 10%;
}
.newssection td{
    font-size: 14px;
    border-bottom:1px solid #dddddd ;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 90%;
}
.instagramBT {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}
.instagramBT a{
    background-color: #000000;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 15px 0 15px 0;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}
.copyright{
    font-size: 11px;
    text-align: center;
}
